@import '~@nn-yy/scss-flex';

.logo-wrap {
  @include flex( start middle );
  width: unset;
  padding: 20px;
  background-color: #45515c;
}
.logo {
  &__image {
      width: 26px;
      height: 26px;
  }

  &__text {
      margin: 0 16px;
      color: white;
      font-size: 18px;
      line-height: 26px;
  }
}
