@charset "UTF-8";

// set media query
@mixin _media( $size ) {

  $vaule : map-get($breakpoints, $size);

  @media only screen and (max-width: $vaule){
    @content;
  }
}

// use flex-box
@mixin _flex( $list ) {

  display: flex;
  
  @each $value in $list {
    @if( $value == column ){ flex-direction: column; }
    @if( $value == wrap ){ flex-wrap: wrap; }
    @if( $value == start ){ justify-content: start; }
    @if( $value == center ){ justify-content: center; }
    @if( $value == end ){ justify-content: flex-end; }
    @if( $value == top ){ align-items: flex-start; }
    @if( $value == hang ){ align-items: center; }
    @if( $value == bottom ){ align-items: flex-end; }
    @if( $value == between ){ justify-content: space-between; }
    @if( $value == around ){ justify-content: space-around; }
    @if( $value == tight ){ align-content: flex-start; }
    @if( $value == auto ){ flex: auto; }
    @if( $value == none ){ flex: none; }
  }

  width: 100%;
}